<% provide :title, @user.name %>
<!-- Where on earth did Michael Hartl learn to write HTML? Tables for layout?? This isn't 1998 you know... -->
<h1 class="username"><%= gravatar_for @user %><%= @user.name %></h1>
<ul class="sidebar round">
	<li><strong>Name</strong> <%= @user.name %></li>
	<li><strong>URL</strong> <%= link_to user_path(@user), @user %></li>
	<li><strong>Microposts</strong> <%= @user.microposts.count %></li>
</ul>
<% if @user.microposts.any? %>
<ul class="microposts">
<%= render @microposts %>
</ul>
<%= will_paginate @microposts %>
<% end %>